{{- include "allama.validateRequiredSecrets" . -}}
{{- include "allama.validateAuthConfig" . -}}
{{- include "allama.validateInfrastructure" . -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "allama.fullname" . }}-api
  labels:
    {{- include "allama.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  replicas: {{ .Values.api.replicas }}
  selector:
    matchLabels:
      {{- include "allama.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: api
  template:
    metadata:
      labels:
        {{- include "allama.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: api
        allama.com/access-postgres: "true"
        allama.com/access-redis: "true"
    spec:
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      serviceAccountName: {{ include "allama.serviceAccountName" . }}
      containers:
        - name: api
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          env:
            {{- include "allama.env.api" . | nindent 12 }}
            {{- include "allama.env.secrets.api" . | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /api/health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            {{- toYaml .Values.api.resources | nindent 12 }}
