name: Lint python

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ruff:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/ruff-action@v3
        with:
          src: allama/
          version: latest
          args: check --no-fix

      - uses: astral-sh/ruff-action@v3
        with:
          src: allama/
          version: latest
          args: format --diff

  pyright:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --no-install-project --group lint

      - name: Run basedpyright
        run: uv run --no-sync basedpyright --warnings --threads 4
